body{
    background: #000;
    color: wheat;
}

legend{
    text-align: center;
}

h1{
    size: 30px;
    color: #c37073;
}

.textbox{
    width: 350px;
}

.books{
    overflow: scroll;
    background: darkslategrey;
    color: gold;
    width: 350px;
    height: 80px;
    border-style: solid;
    border-width: thin;
    border-color: darkgoldenrod;
}

.textarea{
    width: 350px;
    height: 100px;
}
