  <div class="container">
   <div class="card text-center" style="width:35%">
     <h1 class="card-title text-info">Activities Statistics</h1><br>
      <div class="card-body">
        <p class="card-text"><strong><i class="bi bi-clock-fill orange-text"></i> Total Duration:</strong> <%= @total_duration %></p><br>
        <p><strong><i class="bi bi-fire orange-text"></i> Total Calories:</strong> <%= @total_calories %></p>
      </div>
   </div>
  </div>
<div class="container">

</div>