<h1 class="text-primary">
    <i>Activities</i>
    <small><%= link_to "<i class='bi bi-plus-square-fill text-primary mx-2'></i>".html_safe, new_activity_path %></small>
</h1>

<div id="activities" class="mt-4 card-deck">
  <% @activities.each do |activity| %>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= render activity %>
    </div>
  <% end %>
</div>
