<div class="container">
  <h1 class="text-primary mt-4">New activity</h1>
  <%= render "form", activity: @activity %>
  <br>
</div>
  <a href="<%= activities_path %>" class="btn btn-primary" style="background-color: #712cf9;" >Back to Activities</a></br></br>
