<p style="color: green"><%= notice %></p>

<%= render @activity %>
<br><br>
<a href="<%= activities_path %>" class="btn btn-primary" style="background-color: #712cf9;" >Back to Activities</a></br></br>
