<div class="card text-bg-dark mb-3" style="max-width: 18rem;margin-top:205px;margin-left:405px;">
  <div class="card-body">
    <h3 class="card-title" style="color: #49c195;">Stats</h3>
    <div>
       <p class="card-text" style="padding:10px;"><i class="bi bi-clock-history" style="padding-right:10px;"></i>Total duration: <%=@total_duration%></p>
    </div>
    <div>
       <p class="card-text" style="padding:10px;"><i class="bi bi-fire" style="padding-right:10px;"></i>Total calories: <%=@total_calories%></p>
    </div>
    
  </div>
</div>