<!--<h2>Activities Stats</h2>-->
<!--<p>Total Duration : <%#= @total_duration %></p>-->
<!--<p>Total Calories : <%#= @total_calorie %></p>-->
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Activities Stats
  </div>
  <ul class="list-group list-group-flush", style="background: #69d0a3">
    <li class="list-group-item">Total Duration : <%= @total_duration %></li>
    <li class="list-group-item">Total Calories : <%= @total_calorie %></li>
  </ul>
</div>
