html{
    background-color:rgb(125, 235, 125)
}
h1{
   background-color:cadetblue
}
h1{
    color:indigo
}
.name{
    color:mintcream
}
.email{
    color:aqua
}
.options1{
    color:blue
}
.options2{
    color:darkviolet
}
.box{
    color:rgb(20, 19, 17)
}
.options3{
color:rgb(222, 139, 15)
}
.feedback{
    color:dodgerblue
}