<div id="flash">
    <% flash.each do |key,value| %>
      <div class=" <% flash_class(key.to_sym) %> alert-dismissible fade show" role="alert">
        <% unless value == true %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          <%= value %>
        <% end %>
      </div>
    <% end %>
</div>