
<nav class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand mx-4 text-primary" href="/"><h1><i class="bi bi-house-heart-fill" "></i></h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    
    <ul class="navbar-nav">
      <li class="nav-item active ">
        <strong><a class="nav-link text-warning " href="/about">About</a></strong>
      </li>
    </ul>
    
    <ul class="navbar-nav">
      <li class="nav-item active ">
        <strong><a class="nav-link text-warning " href="/activities/stats">Stats</a></strong>
      </li>
    </ul>

  </div>
</nav>
