body{
    
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    

}

.button{
    border-radius: 16px;
    border: 1px solid rgba(225, 225, 225, 0.01);
    box-shadow: 0px 4px 12px rgba(35, 35, 35, 0.1);
    color: #232323;
    
   
}

.button:hover{
    background-color: inherit;
}

.text1{
    width: 65%;
    height: 35px;
   

}
.text2{
    width: 80%;
    height: 100px;
}