p     
    {
     display: table-row;  
    }
label
    { 
        display: table-cell; 
    }
form  
    { 
        display: table;
    }
input 
    { 
        display: table-cell; 
    }
body
    {
        height:100%;
        margin:0;
        padding:0%;
        background: #fcde67 ;

    }
* {
        margin: 0;
        color: #030e12;
    }
    
