@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


body {
  /* height: 100vh; */
  /* width: 100vw; */
  /* overflow: hidden; */
  font-family: 'Poppins', sans-serif;
  /* font-size: large; */
  background-color:beige;
}

.heading{
  /* position: relative; */
  background-color:bisque;
  font-weight: 900;
  border-radius: 8px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 15px;
  margin: 5px;
}

form{
  
  padding: 5px;
 display: flex;
 flex-direction: column;
 justify-items: center;

}

label{
    display: flex;
    background-color:rgba(30, 143, 255, 0.797);
    width: inherit;
    padding: 15px;
    align-items: center;
    margin: 10px;
    border-radius: 6px;
    

}

.inputs{
    /* background-color:rgb(219, 28, 184); */
    align-items: center;
    flex:2;
    padding-left:5px ;
    /* font-size: large; */
}

input[type=text],input[type=email]
{
  width: 30%;
  height:30px;
  border-radius: 5px;
}

.options
{
  width: 30%;
  height:30px;
}

.question{
    flex:1;
    font-size: large;
}

button {
  display: inline-block;
  background-color: #7b38d8;
  padding: 20px;
  width: 200px;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 25px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}
.button
{
  display: flex;
  justify-content: space-around;
  padding: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}



