<% if @activity.user == current_user %>
  <h1>New activity</h1>

  <%= render "form", activity: @activity %>

  <br>

  <div>
    <%= link_to "Back to activities", activities_path %> | <%= link_to "Back to Home", root_path %>
  </div>
<% end %>
