<h1>Activity Statistics</h1>

<p><strong>Total Duration:</strong> <%= @total_duration %></p>
<p><strong>Total Calories:</strong> <%= @total_calories %></p>

<br>

<div>
  <%= link_to "Back to activities", activities_path %> | <%= link_to "Back to Home", root_path %>
</div>
