<div class="in">
<h1>Activity Statistics</h1><br>

<p><strong>Total Duration:</strong> <%= @total_duration %></p><br>
<p><strong>Total Calories:</strong> <%= @total_calories %></p>
<%=link_to "Back to Activities",activities_path%>
</div>

<style>
.in{ margin: auto;
  width: 50%;
  border: 5px dashed gray;
  text-align: center;background: lightgray;}
</style>