<h1>Editing football player</h1>

<%= render "form", football_player: @football_player %>

<br>

<div>
  <%= link_to "Show this football player", @football_player %> |
  <%= link_to "Back to football players", football_players_path %>
</div>
